
<h1>Please login to proceed!</h1>
<div class="container">
    <div class="alert alert-warning" *ngIf="invalidLogin">{{ errorMessage }}</div>
    <form (ngSubmit)="handleLogin()" #loginForm="ngForm">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username" name="username" [(ngModel)]="username" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password" required minlength="3">
        </div>
        <div class="form-group">
            <button [disabled]="!loginForm.valid" type="submit" class="btn btn-primary mb-2">Login</button>
        </div>
    </form>
</div>


