<div class="container">
    <h1>Todo</h1>

    <form (ngSubmit)="saveTodo()" #updateTodoForm="ngForm">
        <div class="form-group">
            <label for="description">Description</label>
            <input  [(ngModel)]="todo.description" type="text" class="form-control" id="description" name="description" required>
        </div>
        <div class="form-group">
            <label for="targetDate">Date</label>
            <input  [ngModel]="todo.targetDate | date:'yyyy-MM-dd'"
                (ngModelChange)="todo.targetDate = $event"
            type="date" class="form-control" id="targetDate" name="targetDate" required>
        </div>
        <button [disabled]="!updateTodoForm.valid" type="submit" class="btn btn-primary">Save</button>
    </form>
</div>